
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.bisection,
.falseposition {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #ffffff;
}

/* Navbar CSS */
.navbar {
  background-color: aliceblue;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-bar {
    margin-left: 0.5em;
    font-size: 2em;
    color:black;
  }
.menu-bars {
  margin-left: 0.4em;
  font-size: 2em;
  color:lavenderblush;
}

.nav-menu {
  background-color:darkslategrey;
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 10px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color:lavenderblush;
  font-size: 18px;
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
}

.nav-text a:hover {
  background-color:rgb(25, 40, 40);
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color:darkslategrey;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 16px;
}